<!-- your html code here -->
<div class="container-fluid bg-dark">
  <div class="row align-items-center">
    <div class="col-12 col-lg-7">
      <h3 class="heading fw-bold mb-3 text-white-50">
        <span class="text-danger">La base de datos</span> La madre de la información.
      </h3>

      <p class="lead text-white-50">En mi mundo, la información vale más que el oro: la
        toco, la moldeo, y la convierto en
        poder</p>
    </div>

    <div class="col-12 col-lg-5 p-4 text-lg-end d-flex justify-content-center justify-content-lg-end mt-4 mt-lg-0">
      <img src="https://hips.hearstapps.com/hmg-prod/images/al-pacino-scarface-el-precio-del-poder-660613f67172f.jpg?crop=0.667xw:1.00xh;0.190xw,0&resize=980:*" class="avatar rounded-circle img-fluid w-50" />
    </div>

  </div>
</div>