<div class="jumbotron text-center text-white mb-0 mr-5 ml-5" style="
         background-image: url('templates/67e2fe52-6e29-4827-8619-f6be8241f89e.webp');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         height: 100vh;
         display: flex;
         align-items: center;
         justify-content: center;
       ">
    <div class="container-fluid">
        <h1 class="display-4 py-3 mb-3" style="background-color: rgb(255, 0, 0,0.3);
           font-family: 'Playfair Display', serif;">
            SCARCODE
        </h1>

        <p class="lead d-inline-block py-2 px-3" style="background-color: rgb(255, 0, 0,0.3);">
            Primero el código, despues el poder y por último la correción de Isrra
        </p>

        <hr class="my-1" style="border-color: rgba(255,255,255,0.6);">


    </div>
</div>